.DS_Store
*/.DS_Store
phase02-Project-Intro/
phase02-Project-Intro/*
phase02-Project-Intro/data/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
