.DS_Store
*/.DS_Store
phase02-Project-Intro/
phase02-Project-Intro/*
phase02-Project-Intro/data/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
*/__pycache__/
**/__pycache__/
topic40-neural-networks/~$sect_40_bio_neural_networks_v2.pptx
phase4_project/time-series/data/ive_minute_tick_bidask_API_12-09-20.csv
phase4_project/time-series/data/ive_minute_tick_bidask_API.csv
